.chainsList {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chainsList li {
    list-style-type: none;
    margin: 10px;
}

.chainsList li a {
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, gray, #1A5D1A, #82CD47);
    font-size: 18px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.headChains {
    color: grey;
    font-size: 18px;
    padding:  20px 80px;
    font-weight: 600;
    text-align: center;
}

@media (max-width:500px) {
    .chainsList {
        gap: 10px;
    }

    .chainsList li a {
        font-size: 16px;
    }
    .headChains {
        color: grey;
        font-size: 16px;
        padding: 5px;
        font-weight: 600;
        text-align: center;
    }
}