.main {
    padding: 50px;
    text-align: center;
    color: grey;
}

.main h1 {
    text-orientation: sideways-right;
    font-size: 30px;
    color: #1A5D1A;
}

.main p {
    font-size: 22px;
    margin: 40px 0px;
}

.main a {
    text-decoration: none;
    color: #82CD47;
    font-weight: 600;
    margin: 0px 10px;

}

.handleImg {
    border-radius: 20px;
}

.FlexImages {
    display: flex;
    gap: 10px;
}

@media (max-width:500px) {
    .main {
        padding: 10px;
    }

    .main h1 {
        font-size: 20px;
    }

    .main p {
        font-size: 18px;
        margin: 20px 0px;
    }

    .FlexImages {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}